rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /{document=**} {
            allow read, write: if false;
        }
        // allow logged in users to preview notifications
        match /misc/notifications {
            allow get: if request.auth.uid != null;
        }
        match /misc/app {
            allow get;
        }

        match /submissions/{submissionDoc} {
            // allow logged in users to view submissions
            allow read: if request.auth.uid != null;
            // allow submission owners to edit their submissions
            allow write: if request.auth != null && resource != null && request.auth.uid == request.resource.data.userId
            // allow all users to like/comment on submissions
            allow write: if request.auth != null && resource != null && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['comments', 'likes'])
        }

        // allow users to modify their database entry
        match /users/{userId} {
            allow read, write: if request.auth != null && request.auth.uid == userId
        }
        // allow users to update their public data
        match /{document=**}/users/{userId}/public/{publicDoc} {
            allow read, write: if request.auth != null && request.auth.uid == userId
        }

        // allow users to edit their songs
        match /users/{userId}/songs/{songDoc} {
            allow read, write: if request.auth != null && request.auth.uid == userId
        }

        // allow all users to read public user data
        // two matches are required for grouping queries
        match /{document=**}/public/{publicDoc} {
            allow read: if request.auth.uid != null
        }
        match /users/{userId}/public/{publicDoc} {
            allow read: if request.auth.uid != null
        }

    }
}
