@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan.ttf');
}

body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  background: theme('colors.gray.800');
  color: theme('colors.gray.200');
  outline: none !important;
}

*:focus {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
