@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  .scroll-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan.ttf');
}

body {
  user-select: none;
  margin: 0;
  /* overflow-y: hidden; */
  font-family: 'League Spartan', sans-serif;
  background: theme('colors.gray.800');
  color: theme('colors.gray.200');
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --toastContainerTop: auto;
  --toastContainerRight: auto;
  --toastContainerLeft: 0;
  --toastWidth: 100vw;
  --toastBarBackground: theme('colors.white');
  --toastBackground: theme('colors.gray.900');
  --ion-background-color: theme('colors.gray.800') !important;
  --ion-text-color: theme('colors.white') !important;
  --cupertino-pane-background: theme('colors.gray.900');
  --cupertino-pane-color: theme('colors.white');
}

::-webkit-scrollbar {
  display: none;
}

.firebase-emulator-warning {
  display: none;
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
