@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan.ttf');
}

body {
  user-select: none;
  margin: 0;
  /* overflow-y: hidden; */
  font-family: 'League Spartan', sans-serif;
  background: theme('colors.gray.800');
  color: theme('colors.gray.200');
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --toastContainerTop: auto;
  --toastContainerRight: auto;
  --toastContainerLeft: 0;
  --toastWidth: 100vw;
  --toastBarBackground: theme('colors.white');
  --toastBackground: theme('colors.gray.900');
  --ion-background-color: theme('colors.gray.800') !important;
  --ion-text-color: theme('colors.white') !important;
}
