<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611764643709-sunagjgj2jeq4jtq6ca3aeljogkkrdqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611764643709-sunagjgj2jeq4jtq6ca3aeljogkkrdqv</string>
	<key>API_KEY</key>
	<string>AIzaSyBuf9wf5-6sVccZYMQ10Nfrlc5c7K5RxSI</string>
	<key>GCM_SENDER_ID</key>
	<string>611764643709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.mogdan.friendsfm</string>
	<key>PROJECT_ID</key>
	<string>friendsfm</string>
	<key>STORAGE_BUCKET</key>
	<string>friendsfm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611764643709:ios:4d32d80590a51938348e14</string>
	<key>DATABASE_URL</key>
	<string>https://friendsfm-default-rtdb.firebaseio.com</string>
</dict>
</plist>